<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/confirmation" method="post">
        <fieldset>
            <legend>Contact Info</legend>
            
            <label>First Name: 
                <input type="text" name="fname">
            </label>
        
            <label>Last Name: 
                <input type="text" name="lname">
            </label>

            <label>choose a time and date: 
                <input type="date" name="Date">
                <input type="time" name="Time">
            </label>

            <button id = "submitButton">Submit</button>
        </fieldset>
    </form>
</body>
</html>